@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #161515;
  --light-color: #fff;
  --light-blue: #1fb6ff;
  --dark-blue: #3e78b2;
}

.light body {
  color: var(--dark-color);
  background: var(--light-color);
}

body {
  color: var(--light-color);
  background: var(--dark-color);
  overflow-x: hidden;
}

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

a {
  color: var(--light-blue);
}

.light a {
  color: var(--dark-blue);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

pre code {
  font-family: 'Fira Code', monospace;
  font-size: 1.1rem;
  padding: 30px;
  margin: 10px 0;
  display: block;
  background-color: #2b2828;
}
