@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #161515;
  --light-color: #fff;
  --light-blue: #1fb6ff;
  --dark-blue: #3e78b2;
}

.light body {
  color: var(--dark-color);
  background: var(--light-color);
}

body {
  color: var(--light-color);
  background: var(--dark-color);
  overflow-x: hidden;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

a {
  color: var(--light-blue);
}

.light a {
  color: var(--dark-blue);
}
