@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #161515;
  --light-color: #fff;
  --light-blue: #1fb6ff;
  --dark-blue: #3e78b2;
}

.light body {
  color: var(--dark-color);
  background: var(--light-color);
}

body {
  color: var(--light-color);
  background: var(--dark-color);
}

p {
  padding: 1rem 0;
}

a {
  color: var(--dark-blue);
}

.light a {
  color: var(--light-blue);
}
